.classDown{
    color: green !important;
    text-decoration: line-through;
}
.classUp{
    color: blue;
    text-decoration: dotted;
}
#subTitle{
    font-size: 20px;
}
form{
    margin: 10px;
    background-color: antiquewhite;
    padding: 10px;
}
.selected{
    color: red;
    font-size: 30px;
    background-color: aqua;
}
.hovered{
    background-color: blue;
    color: white;
}
.divColorato{
    width: 200px;
    width: 500px;
    background-color: aquamarine;
    border: 1px solid blue;    
    padding: 10px;
}